.header {
  display: flex;
  justify-content: center;
  align-items: center2;
  padding: 15px;
  border: 1px solid #ccc;
  height: 55px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.search {
  background: url(../public/search-icon.png) no-repeat scroll 1% 1%;
  padding-left: 20px;
  padding-top: 2px;
}
.button {
  display: flex;
  flex-direction: row;
}
